<h1 align="center">Project - Loan approval analysis</h1>

In [140]:
""" 
Problem Statement
Dream Housing Finance Inc. specializes in home loans across different market segments - rural, urban and semi-urban. 
Thier loan eligibility process is based on customer details provided while filling an online application form. 
To create a targeted marketing campaign for different segments, 
they have asked for a comprehensive analysis of the data collected so far.
"""    
print("Loan Approval Analysis")

In [70]:
# importing the modules
import pandas as pd
import numpy as np
from scipy.stats import mode

In [71]:
bank = pd.read_csv("loan_approval_system.csv")
bank.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [72]:
# checking for categorical data
categorical_var = bank.select_dtypes( include = "object" )
print(categorical_var)

numerical_var = bank.select_dtypes( include = "number" )
print(numerical_var)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
11   LP001027    Male     Yes          2      Graduate           NaN
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
16   LP001034    Male      No          1  Not Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
23   LP001050     NaN     Yes          2  Not Graduate            No
24   LP001052    Male     Yes          1      Graduate           NaN
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
29   LP001087  Female      No          2      Graduate           NaN
..        ...     ...     ...        ...           ...           ...
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
588  LP002925     NaN      No          0      Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
592  LP002933     NaN      No         3+      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
605  LP002960    Male     Yes          0  Not Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

    Property_Area Loan_Status
0           Urban           Y
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
5           Urban           Y
6           Urban           Y
7       Semiurban           N
8           Urban           Y
9       Semiurban           N
10          Urban           Y
11          Urban           Y
12          Urban           Y
13          Rural           N
14          Urban           Y
15          Urban           Y
16          Urban           Y
17          Urban           N
18          Rural           N
19          Urban           Y
20          Urban           N
21          Urban           Y
22      Semiurban           N
23          Rural           N
24      Semiurban           N
25      Semiurban           Y
26      Semiurban           Y
27          Urban           Y
28          Urban           N
29      Semiurban           Y
..            ...         ...
584         Rural           N
585         Rural           N
586         Urban           Y
587     Semiurban           Y
588     Semiurban           Y
589     Semiurban           N
590     Semiurban           Y
591     Semiurban           N
592     Semiurban           Y
593         Rural           Y
594         Urban           Y
595         Rural           Y
596         Rural           N
597     Semiurban           N
598         Rural           Y
599         Urban           Y
600         Urban           N
601         Rural           Y
602         Urban           Y
603         Rural           Y
604     Semiurban           Y
605         Urban           N
606     Semiurban           Y
607         Rural           Y
608         Rural           Y
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[614 rows x 8 columns]
     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
11              2500             1840.0       109.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
16              3596                0.0       100.0             240.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
19              2600             3500.0       115.0               NaN
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
23              3365             1917.0       112.0             360.0
24              3717             2925.0       151.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
29              3750             2083.0       120.0             360.0
..               ...                ...         ...               ...
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
588             4750                0.0        94.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
592             9357                0.0       292.0             360.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
597             2987                0.0        88.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
605             2400             3800.0         NaN             180.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
5               1.0
6               1.0
7               0.0
8               1.0
9               1.0
10              1.0
11              1.0
12              1.0
13              1.0
14              1.0
15              1.0
16              NaN
17              0.0
18              1.0
19              1.0
20              0.0
21              1.0
22              0.0
23              0.0
24              NaN
25              1.0
26              1.0
27              1.0
28              1.0
29              1.0
..              ...
584             0.0
585             1.0
586             1.0
587             1.0
588             1.0
589             0.0
590             1.0
591             1.0
592             1.0
593             1.0
594             1.0
595             1.0
596             1.0
597             0.0
598             1.0
599             1.0
600             NaN
601             1.0
602             1.0
603             1.0
604             1.0
605             1.0
606             1.0
607             1.0
608             1.0
609             1.0
610             1.0
611             1.0
612             1.0
613             0.0

[614 rows x 5 columns]

In [96]:
# handling the missing data
"""
Sometimes customers forget to fill in all the details or they don't want to share other details. 
Because of that, some of the fields in the dataset will have missing values. 
Now you have to check which columns have missing values and also check the count of missing values each column has. 
If you get the columns that have missing values, try to fill them.
"""

# dropping the Loan_id column
# del bank['Loan_ID']
banks = bank.drop(['Loan_ID'],axis = 1)

# checking number of null values that are present in each column
print("number of null values".center(100,"-"))
print(banks.isnull().sum())

# calculating modes for dataframe
bank_mode = banks.mode()
print("mode values".center(100,"-"))
print(bank_mode)

# filling the missing values with the respective mode values
print("Cleaned data".center(100,"-"))
print(banks)
# converted the bank_mode.loc[0]
# bank_mode = list(bank_mode.loc[0])

# Taking only the bank_mode data values and not the columns
for x,y in zip(banks.columns,bank_mode.iloc[0]):
    banks[x].fillna(y,inplace = True)


# check again for null values
print("cross check for null values".center(100,'-'))
print(banks.isnull().sum())

---------------------------------------number of null values----------------------------------------
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64
--------------------------------------------mode values---------------------------------------------
  Gender Married Dependents Education Self_Employed  ApplicantIncome  \
0   Male     Yes          0  Graduate            No             2500

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                0.0       120.0             360.0             1.0

  Property_Area Loan_Status
0     Semiurban           Y
--------------------------------------------Cleaned data--------------------------------------------
     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
0      Male      No          0      Graduate            No             5849
1      Male     Yes          1      Graduate            No             4583
2      Male     Yes          0      Graduate           Yes             3000
3      Male     Yes          0  Not Graduate            No             2583
4      Male      No          0      Graduate            No             6000
5      Male     Yes          2      Graduate           Yes             5417
6      Male     Yes          0  Not Graduate            No             2333
7      Male     Yes         3+      Graduate            No             3036
8      Male     Yes          2      Graduate            No             4006
9      Male     Yes          1      Graduate            No            12841
10     Male     Yes          2      Graduate            No             3200
11     Male     Yes          2      Graduate           NaN             2500
12     Male     Yes          2      Graduate            No             3073
13     Male      No          0      Graduate            No             1853
14     Male     Yes          2      Graduate            No             1299
15     Male      No          0      Graduate            No             4950
16     Male      No          1  Not Graduate            No             3596
17   Female      No          0      Graduate            No             3510
18     Male     Yes          0  Not Graduate            No             4887
19     Male     Yes          0      Graduate           NaN             2600
20     Male     Yes          0  Not Graduate            No             7660
21     Male     Yes          1      Graduate            No             5955
22     Male     Yes          0  Not Graduate            No             2600
23      NaN     Yes          2  Not Graduate            No             3365
24     Male     Yes          1      Graduate           NaN             3717
25     Male     Yes          0      Graduate           Yes             9560
26     Male     Yes          0      Graduate            No             2799
27     Male     Yes          2  Not Graduate            No             4226
28     Male      No          0  Not Graduate            No             1442
29   Female      No          2      Graduate           NaN             3750
..      ...     ...        ...           ...           ...              ...
584    Male     Yes          1      Graduate            No             2787
585    Male     Yes          1      Graduate            No             4283
586    Male     Yes          0      Graduate            No             2297
587  Female      No          0  Not Graduate            No             2165
588     NaN      No          0      Graduate            No             4750
589    Male     Yes          2      Graduate           Yes             2726
590    Male     Yes          0      Graduate            No             3000
591    Male     Yes          2      Graduate           Yes             6000
592     NaN      No         3+      Graduate           Yes             9357
593    Male     Yes          0      Graduate            No             3859
594    Male     Yes          0      Graduate           Yes            16120
595    Male      No          0  Not Graduate            No             3833
596    Male     Yes          2  Not Graduate           Yes             6383
597    Male      No        NaN      Graduate            No             2987
598    Male     Yes          0      Graduate           Yes             9963
599    Male     Yes          2      Graduate            No             5780
600  Female      No         3+      Graduate           NaN              416
601    Male     Yes          0  Not Graduate           NaN             2894
602    Male     Yes         3+      Graduate            No             5703
603    Male      No          0      Graduate            No             3676
604  Female     Yes          1      Graduate            No            12000
605    Male     Yes          0  Not Graduate            No             2400
606    Male     Yes          1      Graduate            No             3400
607    Male     Yes          2  Not Graduate            No             3987
608    Male     Yes          0      Graduate            No             3232
609  Female      No          0      Graduate            No             2900
610    Male     Yes         3+      Graduate            No             4106
611    Male     Yes          1      Graduate            No             8072
612    Male     Yes          2      Graduate            No             7583
613  Female      No          0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0         NaN             360.0             1.0
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
6               1516.0        95.0             360.0             1.0
7               2504.0       158.0             360.0             0.0
8               1526.0       168.0             360.0             1.0
9              10968.0       349.0             360.0             1.0
10               700.0        70.0             360.0             1.0
11              1840.0       109.0             360.0             1.0
12              8106.0       200.0             360.0             1.0
13              2840.0       114.0             360.0             1.0
14              1086.0        17.0             120.0             1.0
15                 0.0       125.0             360.0             1.0
16                 0.0       100.0             240.0             NaN
17                 0.0        76.0             360.0             0.0
18                 0.0       133.0             360.0             1.0
19              3500.0       115.0               NaN             1.0
20                 0.0       104.0             360.0             0.0
21              5625.0       315.0             360.0             1.0
22              1911.0       116.0             360.0             0.0
23              1917.0       112.0             360.0             0.0
24              2925.0       151.0             360.0             NaN
25                 0.0       191.0             360.0             1.0
26              2253.0       122.0             360.0             1.0
27              1040.0       110.0             360.0             1.0
28                 0.0        35.0             360.0             1.0
29              2083.0       120.0             360.0             1.0
..                 ...         ...               ...             ...
584             1917.0       146.0             360.0             0.0
585             3000.0       172.0              84.0             1.0
586             1522.0       104.0             360.0             1.0
587                0.0        70.0             360.0             1.0
588                0.0        94.0             360.0             1.0
589                0.0       106.0             360.0             0.0
590             3416.0        56.0             180.0             1.0
591                0.0       205.0             240.0             1.0
592                0.0       292.0             360.0             1.0
593             3300.0       142.0             180.0             1.0
594                0.0       260.0             360.0             1.0
595                0.0       110.0             360.0             1.0
596             1000.0       187.0             360.0             1.0
597                0.0        88.0             360.0             0.0
598                0.0       180.0             360.0             1.0
599                0.0       192.0             360.0             1.0
600            41667.0       350.0             180.0             NaN
601             2792.0       155.0             360.0             1.0
602                0.0       128.0             360.0             1.0
603             4301.0       172.0             360.0             1.0
604                0.0       496.0             360.0             1.0
605             3800.0         NaN             180.0             1.0
606             2500.0       173.0             360.0             1.0
607             1411.0       157.0             360.0             1.0
608             1950.0       108.0             360.0             1.0
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

    Property_Area Loan_Status
0           Urban           Y
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
5           Urban           Y
6           Urban           Y
7       Semiurban           N
8           Urban           Y
9       Semiurban           N
10          Urban           Y
11          Urban           Y
12          Urban           Y
13          Rural           N
14          Urban           Y
15          Urban           Y
16          Urban           Y
17          Urban           N
18          Rural           N
19          Urban           Y
20          Urban           N
21          Urban           Y
22      Semiurban           N
23          Rural           N
24      Semiurban           N
25      Semiurban           Y
26      Semiurban           Y
27          Urban           Y
28          Urban           N
29      Semiurban           Y
..            ...         ...
584         Rural           N
585         Rural           N
586         Urban           Y
587     Semiurban           Y
588     Semiurban           Y
589     Semiurban           N
590     Semiurban           Y
591     Semiurban           N
592     Semiurban           Y
593         Rural           Y
594         Urban           Y
595         Rural           Y
596         Rural           N
597     Semiurban           N
598         Rural           Y
599         Urban           Y
600         Urban           N
601         Rural           Y
602         Urban           Y
603         Rural           Y
604     Semiurban           Y
605         Urban           N
606     Semiurban           Y
607         Rural           Y
608         Rural           Y
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[614 rows x 12 columns]
------------------------------------cross check for null values-------------------------------------
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [105]:
# Loan amount vs gender
"""
    Now let's check the loan amount of an average person based on 'Gender', 'Married', 'Self_Employed'. 
    This will give a basic idea of the average loan amount of a person.

"""
avg_loan_amount = banks.pivot_table(values = ['LoanAmount'],index = ['Gender','Married','Self_Employed'],aggfunc="mean")

print(avg_loan_amount)

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.768116
               Yes            125.272727
       Yes     No             133.714286
               Yes            282.250000
Male   No      No             129.508621
               Yes            180.588235
       Yes     No             152.608150
               Yes            167.420000

In [139]:
# loan approval vs employement

"""
    Now let's check the percentage of loan approved based on a person's employment type.
    
"""

loan_approved_se = banks[(banks['Self_Employed'].values == "Yes") & (banks['Loan_Status'].values == "Y")]
# banks.iloc[:,0].values

print(len(loan_approved_se))

loan_approved_nse = banks[(banks['Self_Employed'].values == "No") & (banks['Loan_Status'].values == "Y")]
print(len(loan_approved_nse))

percentage_se = (len(loan_approved_se)/len(df['Loan_Status'])) * 100

percentage_nse = (len(loan_approved_nse)/len(df['Loan_Status'])) * 100

print(f"The percentage of self employeed's loan approval is : {percentage_se} %")
print(f"\nThe percentage of not self employeed's loan approval is : {percentage_nse} %")

56
366
The percentage of self employeed's loan approval is : 9.120521172638437 %

The percentage of not self employeed's loan approval is : 59.60912052117264 %

In [158]:
# Transform the loan tenure from months to years

"""
    A government audit is happening real soon! 
    So the company wants to find out those applicants with long loan amount term.
    
"""


loan_term = banks['Loan_Amount_Term'].apply(lambda x:x/12)
# type is series
# print(loan_term)
# banks['yearly_term'] = banks['Loan_Amount_Term'].apply(lambda x:x/12)

big_loan_term = len(loan_term[loan_term>=25])
# print(big_loan_term)
# big_loan_term = len(banks[banks['yearly_term']>= 25])

In [163]:
# Income/ Credit History vs Loan Amount

"""
    Now let's check the average income of an applicant and the average loan given to a person based on their income.
    
"""

loan_groupby = banks.groupby('Loan_Status')['ApplicantIncome', 'Credit_History']
mean_values = loan_groupby.mean()